#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.content {
    display: flex;
    gap: 50px;
}
.list {
    display: flex;
    gap: 20px;
    width: 800px;
    flex-wrap: wrap;
}
.list img {
    width: 100px;
    height: 150px;
}
table {
    border-collapse: collapse;
}
table,
tr,
th,
td {
    border: 1px solid gray;
}
th,
td {
    padding: 5px 15px;
}
.buttonsRow {
    display: flex;
    gap: 10px;
    border: none;
}
.buttonsRow p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #090909;
    padding: 5px 20px;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    box-shadow: 4px 5px 10px #c5c5c5, -6px -6px 12px #ffffff;
}
.buttonsRow p:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
.buttonsRow p::selection {
    background: #e8e8e800;
}
